/Project01/JavaFXApplication2/nbproject/private/
/Project01/JavaFXApplication2/build/
/Project01/JavaFXApplication2/dist/
/Project01/CVBuilder/nbproject/private/
/Project01/testingJFX/nbproject/private/
/Project01/testingJFX/build/
/Project01/testingJFX/dist/
/Project01/Code/JavaFXApplication2/dist/